[Desktop Entry]
Name=Notion with Unity Desktop
Exec=gnome-session --builtin --session=notion-unity
TryExec=notion
Type=Application
DesktopNames=Unity:Unity:ubuntu
X-Ubuntu-Gettext-Domain=gnome-session-3.0